[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
langchain-experimental = "*"
sentence-transformers = "*"
langchainhub = "*"
rapidocr-onnxruntime = "*"
notebook = "*"
pypdf = "*"
langchain-chroma = "*"
langchain-google-genai = "*"
streamlit = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.0"
